body {
    background-color: black;
    color: whitesmoke;
}

h1 {
    color: teal;
    padding-left: 1rem;
}

.vacation-list {
    padding: 0 1rem 0 1rem;
}

.vacation-item {
    display: flex;
    background-color: #111;
    padding: .2rem;
    margin: .2rem;
    align-items: center;
}

.vacation-item-details {
    flex-grow: 1;
    padding-left: .5rem;
}

.vacation-item-actions * {
    display: flex;
    width: 5rem;
    margin: .25rem;
}

.validation-message {
    padding-left: .5rem;
}

.vacationid {
    font-size: .75rem;
}